
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
li {
    list-style: none;
}
a {
    text-decoration: none; 
    color: #333333;
}
body {
    -ms-overflow-style: none;
    background: black; 
    color: white;
}
::-webkit-scrollbar {
     display: none; 
}

.container{
    background-image: url(images/black-1072366_1920.jpg);
    background-size: cover;
    background-attachment: fixed;
}
/* top start */
.top-page{
    position: fixed;
    z-index: 10000;
    width: 60px;
    height: 80px;
    right: 0.5%;
    bottom: 30%;
    background-color: #000000;
    border-radius: 1em;
    opacity: 0.5;
    transition: all 0.3s;
}
.top-page > img{
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(1);
    transition: all 0.3s;
}
.top-page:hover{
    opacity: 0.5;
    background-color: #ffffff;
}
.top-page > img:hover{
    filter: brightness(0) invert(0);
}
/* top end */

/* *****navbar***** */
.container > .navbar{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.container > .navbar > .navbar-title{
    text-align: center;
    width: 30%;
    height: 100%;
    line-height: 70px;
    
}
.container > .navbar > .navbar-title > a{
    display: block;
    font-size: 2.5em;
    color: white;
}
.container > .navbar > .navbar-box{
    width: 100%;
    height: 70px;
    padding : 0 3%;
    line-height: 50px;
}
.container > .navbar > .navbar-box > .navbar-group {
    width: 100%;
    height: 100%;
    display: flex;
}
.container > .navbar > .navbar-box > .navbar-group-right{
    justify-content: end;
}
.container > .navbar > .navbar-box > .navbar-group-left{
    justify-content: start;
}
.container > .navbar > .navbar-box > .navbar-group > .navbar-item{
    position: relative;
    text-align: center;
    padding: 0 3%;
    height: 100%;
    cursor: pointer;
}
.container > .navbar > .navbar-box > ul > li > a{
    display: block;
    color: white;
    line-height: 70px;
    height: 100%;
    width: 100%;
    font-size: 100%;
    transition: all 0.2s ease;
}

.container > .navbar > .navbar-box > ul > li:hover > a{
    color: burlywood;
    text-decoration: underline;
}

.container > .navbar > .navbar-box > .navbar-group > li:hover > .menu-group{
    visibility : visible;
    opacity : 0.7;
}

.container > .navbar > .navbar-box > .navbar-group > .navbar-item > .menu-group{
    visibility: hidden;
    position: absolute;
    width: 300%;
    background-color: #000000;
    opacity: 0;
    border-radius: 0 0 12px 12px;
    right: 0px;
    transition : .2s ease-in-out;
}

.container > .navbar > .navbar-box > .navbar-group > .navbar-item > .menu-group > li{
    height: 10%;
    line-height: 200%;
}
.container > .navbar > .navbar-box > .navbar-group > .navbar-item > .menu-group > li > a{
    display: block;
    color: white;
    font-size: 90%;
}
.container > .navbar > .navbar-box > .navbar-group > .navbar-item > .menu-group > li > a:hover{
    color: burlywood;
    text-decoration: underline;
}
/* navbar end */
/* slide section start */
.container > .slide-section{
    position: relative;
    padding-top: 70px;
}

.container > .slide-section > input[id*="slide"] {
    display:none;
}
.container > .slide-section > .slide-wrap {
    max-width:1460px;
    margin:0 auto;
    padding-bottom: 80px;
}
.container > .slide-section > .slide-wrap > .slide-list {
    white-space:nowrap;
    font-size:0;
    overflow:hidden;
    position:relative;
}
.container > .slide-section > .slide-wrap > .slide-list > li {
    display:inline-block;
    vertical-align:middle;
    width:100%;
    transition:all .5s;
}
.container > .slide-section > .slide-wrap > .slide-list > li > img{
    width: 100%;
}

.container > .slide-section > .slide-wrap > .slide-list > li > a {
    display:block;
    position:relative;
}

.container > .slide-section > .slide-wrap > .slide-list > .slide-control > div > label {
    position:absolute;
    z-index:10;
    top:50%;
    transform:translateY(-50%);
    padding:50px;
    cursor:pointer;
}

.container > .slide-section > .slide-wrap > .slide-list > .slide-item > .item-desc{
    position: absolute;
    z-index: 20;
    bottom: 20%;
    left: 5%;
    font-size: 56px;
    font-weight: 900;
}

.container > .slide-section > .slide-wrap > .slide-list > .slide-item > .text-box{
    position:absolute;
    z-index: 20;
    left: 5%;
	bottom: 10%;
}
.container > .slide-section > .slide-wrap > .slide-list > .slide-item > p > a{
    color: white;
    display: block;
    height: 100%;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 4px;
    transition: all 0.2s;
}
.container > .slide-section > .slide-wrap > .slide-list > .slide-item > p > a:hover{
    font-weight: 700;
    background-color: white;
    color: #000000;
}

.container > .slide-section > input[id="slide01"]:checked ~ .slide-wrap > .slide-list > li {
    transform:translateX(0%);
}
.container > .slide-section > input[id="slide02"]:checked ~ .slide-wrap > .slide-list > li {
    transform:translateX(-100%);
}
.container > .slide-section > input[id="slide03"]:checked ~ .slide-wrap > .slide-list > li {
    transform:translateX(-200%);
}

.container > .slide-section > .slide-wrap > .slide-list > .slide-control > div {
    display:none;
}
.container > .slide-section > .slide-wrap > .slide-list > .slide-control > div > .left {
    left:30px;
    filter: opacity(0.3) brightness(0) invert(1);
    background:url('./images/free-icon-font-angle-circle-left-6407299.png') center center / 50% no-repeat;
}
.container > .slide-section > .slide-wrap > .slide-list > .slide-control > div > .right {
    right:30px;
    filter: opacity(0.3) brightness(0) invert(1);
    background:url('./images/free-icon-font-angle-circle-right-6407301.png') center center / 50% no-repeat;
}
.container > .slide-section > input[id="slide01"]:checked ~ .slide-wrap > .slide-list > .slide-control > div:nth-child(1) {
    display:block;
}
.container > .slide-section > input[id="slide02"]:checked ~ .slide-wrap > .slide-list > .slide-control > div:nth-child(2) {
    display:block;
}
.container > .slide-section > input[id="slide03"]:checked ~ .slide-wrap > .slide-list > .slide-control > div:nth-child(3) {
    display:block;
}
.container > .slide-section > .slide-wrap > .slide-list > .slide-control > div > .left:hover, 
.container > .slide-section > .slide-wrap > .slide-list > .slide-control > div > .right:hover{
    filter: opacity(0.6) brightness(0) invert(1);
}
.container > .slide-section > .slide-wrap > .slide-pagelist {
    position: absolute;
    text-align:center;
    padding:10px;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
}
.container > .slide-section > .slide-wrap > .slide-pagelist > li {
    display:inline-block;
    vertical-align:middle;
}
.container > .slide-section > .slide-wrap > .slide-pagelist > li > label {
    display:block;
    padding:5px;
    border-radius:50%;
    background:white;
    opacity: 0.3;
    margin:10px;
    cursor:pointer;
    transition: all 0.2s;
}
.container > .slide-section > input[id="slide01"]:checked ~ .slide-wrap > .slide-pagelist > li:nth-child(1) > label {
    opacity: 0.7;
}
.container > .slide-section > input[id="slide02"]:checked ~ .slide-wrap > .slide-pagelist > li:nth-child(2) > label {
    opacity: 0.7;
}
.container > .slide-section > input[id="slide03"]:checked ~ .slide-wrap > .slide-pagelist > li:nth-child(3) > label {
    opacity: 0.7;
}
.container > .slide-section > .slide-wrap > .slide-pagelist > li > label:hover{
    opacity: 0.7;
}
/* slide section end */

/* collection section start */

.second-container > .collection-section{
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
}
.second-container > .collection-section > .collection-title{
    font-size: 3em;
    text-align: center;
    color: white;
    padding: 70px 0;
    transition: all 0.2s;
}
.second-container > .collection-section .collection-title:hover{
    color: burlywood;
}

.second-container > .collection-section > .collection-list{
    display: flex;
    justify-content: space-between;
}
.second-container > .collection-section > .collection-list > .collection-item{
    position: relative;
    width: 24%;
    height: 34%;
}
.second-container > .collection-section > .collection-list > .collection-item > a{
    display: block;
    width: 100%;
    height: 100%;
}

.second-container > .collection-section > .collection-list > .collection-item > a > img{
    display: block;
    width: 100%;
    height: 100%;
}

.second-container > .collection-section > .collection-list > .collection-item > .clothe > .clothe-desc{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: black;
    opacity: 0;
    font-size: 1.4em;
    transition: all 300ms ease;
}
.second-container > .collection-section > .collection-list > .collection-item > .clothe:hover .clothe-desc{
    opacity: 0.6;
    color: #ffffff;
    box-shadow: 0px 0px 9px 9px white;
}

/* collection section end */

/* collaboration section start */
.second-container > .collabo-section{
    position: relative;
    max-width: 1600px;
    margin: 30px auto 80px;
}
.second-container > .collabo-section > input{
    display: none;
}

.second-container > .collabo-section > .collabo-title{
    font-size: 3em;
    text-align: center;
    color: white;
    padding: 70px 0;
    transition: all 0.2s;
}
.second-container > .collabo-section > .collabo-title:hover{
    color: burlywood;
}

.second-container > .collabo-section > .colla-wrap{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 40px;
}

.second-container > .collabo-section > .colla-wrap > .colla-list{
    height: 800px;
}
.second-container > .collabo-section > .colla-wrap > .colla-list > li{
    color: #000000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 24px;
    transition:all .5s;
}

.second-container > .collabo-section > .colla-wrap > .colla-list > li > a{
    display: block;
    width: 60%;
    padding: 0 2%;
    border-right: 1px solid black;
}

.second-container > .collabo-section > .colla-wrap > .colla-list > li > a >img{
    width: 100%;
}

.second-container > .collabo-section > .colla-wrap > .colla-list > li > div{
    width: 40%;
    padding: 0 4%;
    border-radius: 50px;
}

.second-container > .collabo-section > .colla-wrap > .colla-list > li > div > h1{
    margin-bottom: 10%;
}



.second-container > .collabo-section > .colla-wrap > .colla-list > li > div > h2{
    font-weight: 700;
    margin-bottom: 20px;
}

.second-container > .collabo-section > input[id=collabo-1]:checked ~ .colla-wrap > .colla-list > li{
    transform: translateY(0);
}
.second-container > .collabo-section > input[id=collabo-2]:checked ~ .colla-wrap > .colla-list > li{
    transform: translateY(-100%);
}
.second-container > .collabo-section > input[id=collabo-3]:checked ~ .colla-wrap > .colla-list > li{
    transform: translateY(-200%);
}
.second-container > .collabo-section > .colla-wrap > .collabo-nav{
    position: absolute;
    color: #000000;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}
.second-container > .collabo-section > .colla-wrap > .collabo-nav > label{
    display: block;
    background-color: #000000;
    padding: 10px;
    border-radius: 50%;
    opacity: 0.3;
    margin: 80px 0px;
    transition: all 0.3s;
}
.second-container > .collabo-section > .colla-wrap > .collabo-nav > label:hover{
    opacity: 0.7;
}

/* collaboration section end */


/* tap section start */


.tap{
    padding: 50px;
    background-color: white;
    height: 1500px;
    margin: 0 auto;
}

.tap > .inner-tap > input[type=radio]{
    display: none;
}
.tap > .inner-tap{
    color: #000000;
    max-width: 1600px;
    margin: 30px auto;
}

.tap > .inner-tap > .tap-nav{
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.tap > .inner-tap > .tap-nav > label{
    font-size: 1.8em;
    margin: 0 30px;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.3s;
}
.tap > .inner-tap > .tap-nav > label:hover{
    background-color: #000000;
    color: #ffffff;
}

.tap > .inner-tap > #all:checked ~ .tap-nav > .all,
.tap > .inner-tap > #outer:checked ~ .tap-nav > .outer,
.tap > .inner-tap > #top:checked ~ .tap-nav > .top,
.tap > .inner-tap > #bottom:checked ~ .tap-nav > .bottom,
.tap > .inner-tap > #acc:checked ~ .tap-nav > .acc{
    color: #ffffff;
    background-color: #000000;
}

.tap > .inner-tap > .inner-section{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    padding: 20px;
    max-width: 1600px;
    max-height: 1200px;
    border-radius: 10px 10px 50px 50px;
    box-shadow: 0px 3px 6px 6px rgba(0, 0, 0, 0.7);
}

.tap > .inner-tap > .inner-section > .content-all{
    display: none;
}


.tap > .inner-tap > #all:checked ~ .inner-section > .content-all,
.tap > .inner-tap > #outer:checked ~ .inner-section > .content-outer,
.tap > .inner-tap > #top:checked ~ .inner-section > .content-top,
.tap > .inner-tap > #bottom:checked ~ .inner-section > .content-bottom,
.tap > .inner-tap > #acc:checked ~ .inner-section > .content-acc{
    display: block;
    animation: tap 1s;
    
}
@keyframes tap{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.tap > .inner-tap > .inner-section > .content-all{
    position: relative;
    margin: 2%;
    max-width: 21%;
    max-height: 31%;
}

.tap > .inner-tap > .inner-section > .content-all > a{
    display: block;
    width: 100%;
    height: 100%;
}
.tap > .inner-tap > .inner-section > .content-all > a > img{
    width: 100%;
    height: 100%;
}
.tap > .inner-tap > .inner-section > .content-all > a > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #000000;
    color: black;
    opacity: 0;
    font-size: 1.4em;
    transition: all 300ms ease;
}
.tap > .inner-tap > .inner-section > .content-all > a:hover .item-desc{
    color: white;
    opacity: 0.7;
}
.tap > .inner-tap > .inner-section > .content-all > a > div > h3{
    margin-bottom: 8px;
}
/* tap section end */

/* about-contact start */
#about-contact{
    /* padding: 50px 0; */
    max-width: 1600px;
    height: 900px;
    margin: 100px auto;
}

#about-contact > .about-contact-container > .about-contact-nav{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto 100px;
}
#about-contact > .about-contact-container > .about-contact-nav > label{
    font-size: 3em;
    color: white;
    margin: 1%;
    padding: 1% 2%;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
#about-contact > .about-contact-container > .about-contact-nav > label:hover{
    background-color: #ffffff;
    color: #000000;
}
#about-contact > .about-contact-container > #about:checked ~ .about-contact-nav > .about,
#about-contact > .about-contact-container > #contact:checked ~ .about-contact-nav > .contact{
    background-color: #ffffff;
    color: #000000;
}

#about-contact > .about-contact-container >.about-contact-list > .contact-item{
    margin: 50px 0;
    text-align: center;
    transition: all 1s;
}

#about-contact > .about-contact-container >.about-contact-list > .contact-item > ul > li > p{
    font-size: 1.4em;
    font-weight: 300;
    margin-bottom: 10px;
}
#about-contact > .about-contact-container >.about-contact-list > .contact-item > ul > li{
    margin-bottom: 100px;
}

#about-contact > .about-contact-container >.about-contact-list > .contact-item > ul > li >  .title{
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 20px;
}

#about-contact > .about-contact-container > input{
    display: none;
}
#about-contact > .about-contact-container > .about-contact-list > .item{
    display: none;
}
#about-contact > .about-contact-container > #about:checked ~ .about-contact-list>.about-item,
#about-contact > .about-contact-container > #contact:checked ~ .about-contact-list>.contact-item{
    display: block;
    animation: about 2s;
}
@keyframes about{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#about-contact > .about-contact-container > .about-contact-list > .about-item > .img-banner{
    display: flex;
}
#about-contact > .about-contact-container > .about-contact-list > .about-item > .img-banner > .left{
    max-width: 50%;
    padding-right: 2%;
    border-right: 1px solid gainsboro;
}
#about-contact > .about-contact-container > .about-contact-list > .about-item > .img-banner > .left > img{
    width: 100%;
}
#about-contact > .about-contact-container > .about-contact-list > .about-item > .img-banner > .right{
    padding-left: 2%;
    border-left: 1px solid gainsboro;
    max-width: 50%;
}
#about-contact > .about-contact-container > .about-contact-list > .about-item > .img-banner > .right > div > .title{
    font-weight: 700;
}
#about-contact > .about-contact-container > .about-contact-list > .about-item > .img-banner > .right > div > p{
    font-size: 1.4em;
    line-height: 1em;
    font-weight: 300;
}

/* about-contact end */
.footer-section{
    border-top: 4px solid white;
    padding: 100px 0;
}
.footer-section > .footer-container{
    max-width: 1600px;
    margin: 0 auto;
}
.footer-section > .footer-container > .footer-main{
    display: flex;
    justify-content: space-around;
}
.footer-section > .footer-container > .footer-main > .footer-contactus > .contactus-item{
    display :flex;
    flex-direction: column;
}


.footer-section > .footer-container > .footer-main > .footer-contactus > h3{
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.footer-section > .footer-container > .footer-main > .footer-contactus > .contactus-item{
    font-size: 1.4em;
}
.footer-section > .footer-container > .footer-main > .footer-contactus > .contactus-item > a{
    margin-bottom: 3%;
    color: #ffffff;
    transition: all 0.3s;
}
.footer-section > .footer-container > .footer-main > .footer-contactus > .contactus-item > a:hover{
    color: burlywood;
}
.footer-section > .footer-container > .footer-main > .footer-contactus > .contactus-item > a > span{
    margin-left: 10px;

}

.footer-section > .footer-container > .footer-main > .footer-social{
    text-align: center;
}
.footer-section > .footer-container > .footer-main > .footer-social > h3{
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}
.footer-section > .footer-container > .footer-main > .footer-social > p{
    margin-bottom: 3%;
    font-size: 1.4em;
    color: #ffffff;
}
.footer-section > .footer-container > .footer-main > .footer-social > .social{
    font-size: 2em;
}
.footer-section > .footer-container > .footer-main > .footer-social > .social > a{
    margin: 0 4%;
    color: #ffffff;
    transition: all 0.3s;
}
.footer-section > .footer-container > .footer-main > .footer-social > .social > a:hover{
    color: burlywood;
}

.footer-section > .footer-container > .footer-main > .opening > h3{
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}
.footer-section > .footer-container > .footer-main > .opening{
    text-align: center;
}
.footer-section > .footer-container > .footer-main > .opening > p{
    margin-bottom: 3%;
    font-size: 1.4em;
    color: #ffffff;
}
.footer-section > .footer-container > .footer-desc{
    margin-top: 3%;
    text-align: center;
    font-size: 1.6em;
}
.footer-section > .footer-container > .footer-desc > p:nth-child(1){
    margin-bottom: 2%;
}